$gvnt-btn-spinner-loading-color1: rgba(0, 0, 0, 0.6) !default;
$gvnt-btn-spinner-loading-color2: transparent !default;
$gvnt-btn-spinner-loading-border-width: 2px !default;
$gvnt-btn-spinner-loading-size: 15px !default;
$gvnt-btn-spinner-loading-size-lg: 50px !default;
$gvnt-btn-spinner-loading-border-width-lg: 4px !default;
