@import 'ember-power-select-infinity/variables';
@import './progress-spinner/progress-spinner';

.ember-power-select-infinity {
    &-trigger {
        &-progress-spinner.active {
            position: absolute;
            right: $gvnt-power-select-infinity-trigger-spinner-right;
            top: $gvnt-power-select-infinity-trigger-spinner-top;
        }
        &-no-results-label {
            position: absolute;
            right: $gvnt-power-select-infinity-trigger-no-results-label-right;
            top: $gvnt-power-select-infinity-trigger-no-results-label-top;
            font-size: $gvnt-power-select-infinity-trigger-no-results-label-font-size;
        }
        &-select-clear-btn {
            position: absolute;
            right: $gvnt-power-select-infinity-trigger-clear-btn-right;
            top: $gvnt-power-select-infinity-trigger-clear-btn-top;
        }

        &-selected-item-wrapper {
            padding: $gvnt-power-select-infinity-trigger-selected-item-wrapper-padding;
        }
    }
}
