{{! BEGIN-SNIPPET basic-power-select-for-model-demo.hbs }}
<PowerSelectInfinity::DsModel
    @modelName="person"
    @placeholder="Select a person"
    @searchPlaceholder="Search for people..."
    @triggerClass="form-control"
    as |option|
>
    <div class="text-truncate">
        {{option.name}}
    </div>
</PowerSelectInfinity::DsModel>
{{! END-SNIPPET }}