{{!-- BEGIN-SNIPPET basic-power-select-for-model-demo2.hbs --}}
<PowerSelectInfinity::ForModel
    @processQueryParams={{this.processQueryParams}}
    @filters={{hash
        personName=this.selectedPerson.name
    }}
    @loadOptionsOnRender={{false}}
    as |option|
>
    <div class="ember-power-select-option-section">
        <div>
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity::ForModel>
{{!-- END-SNIPPET --}}