{{!-- BEGIN-SNIPPET basic-power-select-for-model-demo.hbs --}}
<PowerSelectInfinity::ForModel
    @modelName="person"
    @placeholder="Select a person"
    @searchPlaceholder="Search for people..."
    @triggerClass="form-control"
    as |option|
>
    <div class="ember-power-select-option-section">
        <div>
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity::ForModel>
{{!-- END-SNIPPET --}}