@import 'ember-power-select-infinity/variables';
@import './progress-spinner/progress-spinner';

.ember-power-select-infinity {
    &-trigger {
        &.ember-power-select-trigger.ember-basic-dropdown-trigger,
        &.ember-basic-dropdown-trigger--left.ember-power-select-trigger.ember-basic-dropdown-trigger,
        &.ember-basic-dropdown-trigger--down.ember-power-select-trigger.ember-basic-dropdown-trigger {
            border: none;
            outline: none;
            padding: 0;
            height: auto;
            line-height: 1.5;
            min-height: 34px;
            border-radius: 4px;
        }

        &-progress-spinner {
            position: absolute;
            right: $gvnt-power-select-infinity-trigger-spinner-right;
            top: $gvnt-power-select-infinity-trigger-spinner-top;
        }
        &-clear-btn {
            position: absolute;
            right: $gvnt-power-select-infinity-trigger-clear-btn-right;
            top: $gvnt-power-select-infinity-trigger-clear-btn-top;
        }
    }
    &-dropdown.options-loading {
        border: none !important;
    }
}
