<PowerSelectInfinity::DsModel
    @modelName="person"
    @selected={{this.selected}}
    @onChange={{this.onChange}}
    @placeholder="Select a person"
    @searchPlaceholder="Search for people..."
    class="testy-testy-testy"
    as |option|
>
    <div class="text-truncate">
        {{option.name}}
    </div>
</PowerSelectInfinity::DsModel>