{{!-- BEGIN-SNIPPET power-select-infinity-trigger-search-demo.hbs --}}
<PowerSelectInfinity
    @triggerIsSearch={{@triggerIsSearch}}
    @placeholder="Search for droids..."
    @noMatchesMessage="No droids here"
    as |option|
>
    <div class="ember-power-select-option-section">
        <div class="text-truncate">
            {{option.name}}
        </div>
    </div>
</PowerSelectInfinity>
{{!-- END-SNIPPET --}}