<h2 id="title">Welcome to Ember</h2>

{{outlet}}


{{#power-select-infinity
    search=(action 'search')
    loadMore=(action 'loadMore')
    selected=selected
    onchange=(action (mut selected))
    as |object|}}
        {{object.name}}
{{/power-select-infinity}}