<h2 id="title">Welcome to Ember</h2>

{{outlet}}


{{#power-select-infinity
    options=options
    search=(action 'search')
    loadMore=(action 'loadMore')
    selected=selected
    onchange=(action (mut selected))
    extra=(hash labelPath="name")
    as |user|}}
        {{user.name}}
{{/power-select-infinity}}