<DocsHero
    @heading='Power Select Infinity'
/>
<div class ="index-demo">
    <DocsDemo as |demo|>
        <p class="demo-text">A <b>power select</b> with pagination.</p>
        <demo.example @name="my-demo.hbs">
            <BasicPowerSelect @onChange={{this.selectItem}} />
        </demo.example>
    </DocsDemo>
</div>